@media ( max-width: 768px ) {
	nav ul li {
		margin-bottom: 5px;
		display: block;}
	nav ul li:last-child {
		margin-bottom: 0;}
	nav ul li a {
		width: 100%;}
	nav ul li:last-child {
		float: none;}
	.oszlop {
		width: 100%;}
	.sor {
		margin: 0;}
	img {
		margin-bottom: 25px;
		margin-top: 25px;}
}